# Environnement
.env
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Base de données
*.db
*.sqlite3

# Node
node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db


# Script
int.sh
backup_veilsec.sh